<div class="jumbotron center">
	<h1>Welcome to MyRecipes</h1>
	<h2>The best recipe sharing app!</h2>
	<p><%= link_to "Sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
        <div class="col-lg-4">
          <h2>Paneer</h2>
          <p>Paneer or Indian cottage cheese is a fresh acid-set cheese common in the Indian subcontinent made from cow or buffalo milk. It is a non-aged, non-melting soft cheese made by curdling milk with a fruit- or vegetable-derived acid, such as lemon juice</p>
          
        </div>
        <div class="col-lg-4">
          <h2>Curry</h2>
          <p>Curry is a variety of dishes originating in the Indian subcontinent. It uses a combination of spices or herbs, usually including ground turmeric, cumin, coriander, ginger, and fresh or dried chilies. In southern India, curry leaves from the curry tree are also an integral ingredient. </p>
       </div>
        <div class="col-lg-4">
          <h2>Fried Rice</h2>
          <p>Fried rice is a dish of cooked rice that has been stir-fried in a wok or a frying pan and is usually mixed with other ingredients such as eggs, vegetables, seafood, or meat. It is often eaten by itself or as an accompaniment to another dish.</p>
        </div>
      </div>